/*-------------------- Colores */
:root {
  --azul: #3F39F0;
  --verde: #D9F022;
  --azulClaro: #2E8DF0;
  --grisClaro: #F3EFF4;
  --rojo: #FF5733;
  --negro: #000000;
}

/*-------------------- fondo */
.fondo1,
.fondo2,
.fondo3,
.fondoImagen {
  display: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--grisClaro);
  font-weight: 400;
  margin: 0px;
}

#svg1 {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#svg2 {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 429px;
  z-index: -1;
}

#svg3 {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 1630px;
  z-index: -1;
}

.imagenFondo {
  position: absolute;
  width: 550px;
  height: 521px;
  left: 700px;
  top: 7px;
  z-index: -1;
  overflow: hidden;
}

.fondoLineas img {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
}


/*-------------------- Header */
.tituLogo {
  display: flex;
  gap: 6px;
  margin: 16px 80px 24px;
  align-items: center
}

.titulo,
.logo {
  margin: 0px;
}

.titulo {
  font-size: 35px;
}

.logo {
  width: 35px;
  height: 35px;
}

/*-------------------- Descripcion */
.seccionDescripcion {
  width: 100%;
  height: 336px;
}

.descripcion {
  width: 441px;
  margin-left: 13%;
}

.descripcion h2 {
  font-style: italic;
  font-size: 50px;
  margin: 0 0 6px 0;
}

.descripcion h2 span {
  color: var(--verde);
  font-style: normal;
  font-weight: 700;
}

.descripcion p {
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  margin: 0;
}

.descripcion p span {
  color: var(--verde);
  font-style: normal;
  font-weight: 700;
}

/*-------------------- CortadorUrl */

.cortadorUrl {
  margin-top: 35px;
  margin-bottom: 15px;
}

.cortadorUrl h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 11px;
}

.cortadorUrl h3 span {
  font-weight: 700;
  color: var(--verde);
}

.seccionCortador {
  display: flex;
  text-align: center;
  justify-content: center;

}

.acortado {
  width: 400px;
  height: 33px;
  border: none;
  border-radius: 14px 0 0 14px;
  background: var(--grisClaro);
  font-weight: 700;
}

.botonAcortado {
  width: 100px;
  height: 35px;
  border: none;
  font-size: 22px;
  font-weight: 700;
  border-radius: 0 14px 14px 0;
  color: var(--azul);
  background: var(--grisClaro);
  cursor: pointer;
}

#tijeras {
  display: none;
  font-size: 25px;
  animation: revote 1s ease-in-out;
}

.botonAcortado:hover .texto {
  display: none;
}

.botonAcortado:hover #tijeras {
  display: inline-block;
}

/*-------------------- Cortados */
.seccionCortados {
  height: 391px;
  margin: 30px 13% 0;
}

.cortados {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 130px);
  gap: 45px;
}

.links {
  background: var(--grisClaro);
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;

}

.url {
  color: var(--negro);
  font-weight: 300;
  font-size: 12px;
  margin: 0px;
  overflow: hidden;
}

.urlCortado {
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  display: inline-block;
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn .iconify {
  font-size: 25px;
  color: var(--grisClaro);
  animation: revote 1s ease-in-out;
}

@keyframes revote {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

button .text {
  color: var(--grisClaro);
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

.copiar {
  background-color: var(--azulClaro);
}

.eliminar {
  background-color: var(--rojo);
}

.iconify {
  display: none;
}

.btn:hover .text {
  display: none;
}

.btn:hover .iconify {
  display: inline-block;
}

.btn:focus .text {
  display: none;
}

.btn:focus .iconify {
  display: inline-block;
}

/*-------------------- Planes */

.seccionPlanes {
  position: absolute;
  top: 930px;
  height: 640px;
}

.seccionPlanes h3 {
  margin-bottom: 34px;
  font-size: 45px;
  text-align: center;
  color: var(--azul);
}

.seccionPlanes h3 span {
  font-weight: 400;
}

.planes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 40px;
  margin: 0 13%;
}

.plan {
  background-color: var(--azul);
  border-radius: 20px;
  height: 479px;
}

.plan h4 {
  font-size: 45px;
  color: var(--verde);
  text-align: center;
  margin: 39px 0 45px 0;
}

#planDosTitulo {
  margin: 9px 0 0 0;
}

.plan h4 span {
  font-weight: 400;
}

.plan p {
  padding: 0 5%;
  font-size: 22px;
  line-height: 25px;
  text-align: justify;
}

.plan h5 {
  width: 150px;
  padding: 10px;
  color: var(--azul);
  font-size: 35px;
  background-color: var(--grisClaro);
  margin: 30px 0px;
  line-height: 20px;
  text-align: center;
  border-radius: 0 15px 15px 0;

}

.plan h5 span {
  font-size: 25px;
  font-weight: 400;
}

/*-------------------- Form */

.seccionFormulario {
  position: absolute;
  width: 100%;
  top: 1680px;
  text-align: center;
}

.seccionFormulario h3 {
  font-size: 36px;
  color: var(--verde);
}

.seccionFormulario h3 span {
  font-weight: 400;
}

form {
  text-align: center;
}

form input,
.consulta {
  width: 520px;
  height: 15px;
  border-radius: 14px;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
}

input::placeholder,
.consulta::placeholder {
  color: var(--azulClaro);
  font-size: 18px;
  font-weight: 400;
}

.consulta {
  height: 150px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}


.enviar {
  width: 130px;
  height: 35px;
  border-radius: 14px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--azul);
  cursor: pointer;
}


/*-------------------- footer */
footer {
  position: absolute;
  width: 100%;
  top: 2200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
}

a {
  text-decoration: none;
}

.redes a:not(:last-child) {
  margin-right: 55px;
}

a .iconify {
  display: block;
  color: var(--azul);
  font-size: 43px;
}

/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media (max-width: 415px) {

  .fondo1,
  .fondo2,
  .fondo3,
  .fondoImagen {
    display: block;
  }

  #svg1,
  #svg2,
  #svg3,
  .imagenFondo {
    display: none;
  }

  .fondo1 {
    width: 100%;
  }

  .fondo1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .fondo2 {
    width: 100%;
  }

  .fondo2 img {
    position: absolute;
    top: 61%;
    left: 0;
    width: 100%;
    height: 470px;
    z-index: -1;
  }

  .fondo3 {
    width: 100%;
  }

  .fondo3 img {
    position: absolute;
    top: 255%;
    left: 0;
    width: 100%;
    height: 470px;
    z-index: -1;
  }

  .fondoImagen img {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 470px;
    z-index: -2;
  }

  /*-------------------- Header */

  .tituLogo {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
  }

  /*-------------------- Descripcion */

  .seccionDescripcion {
    width: 100%;
    margin: auto;
  }

  .descripcion {
    width: 90%;
    margin: auto;
  }

  .descripcion h2 {
    font-size: 2.2em;
    text-align: center;
  }

  .descripcion p {
    font-size: .9em;
    line-height: 1.1em;
    width: 95%;
    margin: auto;
  }

  /*-------------------- CortadorUrl */

  .secccionCortadorUrl {
    display: flex;
    justify-content: center;
  }

  .cortadorUrl {
    width: 90%;
    margin: 0;
  }

  .cortadorUrl h3 {
    font-size: 2em;
  }

  /*-------------------- Cortados */

  .seccionCortados {
    height: auto;
    width: 90%;
    margin: 25px auto;
  }

  .cortados {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 130px);
    gap: 5px;
  }

  .links {
    border-radius: 14px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;

  }

  .url {
    font-weight: 300;
    font-size: 12px;
    margin: 0px;
  }

  .urlCortado a {
    overflow: hidden;
    font-size: 15px;
    margin: 0px;
  }

  .botones {
    gap: 5px;
  }

  /*-------------------- Planes */

  .seccionPlanes {
    top: 130%;
    height: auto;
    padding-bottom: 15%;
  }

  .seccionPlanes h3 {
    margin-bottom: 24px;
    font-size: 2em;
  }


  .planes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 10px;
  }

  .plan {
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 2% 0;
  }

  .plan h4 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0 25px 0;
  }

  #planDosTitulo {
    margin: 9px 0 0 0;
  }

  .plan h4 span {
    font-weight: 400;
  }

  .plan p {
    padding: 0 5%;
    font-size: 1em;
    line-height: 1.1em;
  }

  .plan h5 {
    font-size: 1.3em;
    margin: 5px 0px;
  }

  .plan h5 span {
    font-size: 25px;
    font-weight: 400;
  }

  /*-------------------- Form */

  .seccionFormulario {
    top: 257%;
  }

  .seccionFormulario h3 {
    font-size: 2em;
    margin: 15px;
  }

  form input,
  .consulta {
    width: 85%;
    margin-bottom: 10px;
  }

  /*-------------------- Footer */

  footer {
    top: 345%;
    height: 50px;
  }

  a .iconify {
    font-size: 30px;
  }

}